<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toxic Comment Classification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="https://medium.com/@ashiquem">Blog</a></li>
        <li><a href="https://github.com/ashiquem">GitHub</a></li>
        </ul>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Toxic Comment Classification</h1>
        <p class="text-center">See how toxic your opinions are</p>
        <hr />
      
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter your comment">
                    <div class="col-lg-offset-5">
                        <button type="submit" class="btn btn-lg btn-success">Classify Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}
</body>
</html>
